.textBg{
    -fx-background-radius: 20 20 20 20;
    -fx-background-color: linear-gradient(to top right, #e1cf9a, #58baff);
}
.button{
    -fx-background-color: linear-gradient(to top right, #a0ff97, #ffda8f);
    -fx-background-radius: 40 40 40 40;
}
.button:hover{
    -fx-font-weight:bold;
}
Text{
    -fx-font-family: Montserrat;
}