#underRect{
    -fx-background-radius: 30 0 30 0;
    -fx-background-color: #e1c885;
    -fx-border-width: 2px 0px 2px 2px;
    -fx-border-color: "red";
    -fx-border-radius: 30 0 30 0;
}
#textBg{
    -fx-background-radius: 35 35 35 35;
    -fx-background-color: #e1c885;
}
.button{
    /*-fx-background-image: url("../IMG/tree_o.jpg");*/
    -fx-border-width: 4px 4px 0px 4px;
    /*-fx-background-color: #7cf155;*/
    -fx-background-color:  linear-gradient(to left top, #9cf140, #f1e35c);
    -fx-background-radius: 40 40 40 40;
    -fx-border-radius: 40 40 40 40;
    -fx-border-color: #e1c885;
}
.button:hover Text{
    -fx-font-weight:bold;
}

#textTwo:hover{
    -fx-text-fill: "RED";
    -fx-color: #FF2E2E;
    -fx-background-color: "red";
}

#registration{

}